/*
Background Color

Styles of background colored.

Markup: <div class="{$modifiers}">あいうえおかきくけこ</div>

.bgRed   - background color of red.
.bgGreen - background color of green.
.bgBlue  - background color of blue.

Styleguide 2
*/

.bgRed {
  background-color:red;
}

.bgGreen {
  background-color:green;
}

.bgBlue {
  background-color:blue;
}