/*
list/week

Styles for list/week page.

Styleguide 11
*/

// 後で一カ所にまとめる
$textDisabled: #999999;

.weekList {
  margin-top:60px;
}

.weekCreatorInfo {
  width: 92%;
  height: 60px;
  margin: 8px 4%;
  border-radius: 0 10px 10px 0;
  position:relative;
  list-style: none;
  background-repeat: no-repeat;
  background-size: cover;
  .shirts {
    position:absolute;
    left: 50px;
    top: 10px;
    height:75%
  }
  .thumbnail {
    position:absolute;
    left: 130px;
    top: 28px;
    height:50%;
  }
  .name {
    position:absolute;
    left: 130px;
    top: 10px;
  }
  .dateSerial {
    position: absolute;
    left:0px;
    top:0px;
  }
  .link {
    position:absolute;
    left:0px;
    top:0px;
    display:block;
    width:100%;
    height:100%;
  }
  &.today {
    width:100%;
    margin-left:0;
    margin-right: 0;
    border-radius: 0;
    .shirts {
      margin-left:4%;
    }
    .thumbnail {
      margin-left:4%;
    }
    .name {
      margin-left:4%;
    }
    .dateSerial {
      margin-left:4%;
      left:2px;
    }
  }
  &.past {
  }
  &.future {
    background-color:$bgDisabled !important;
    .shirts {
      display:none;
    }
    .thumbnail {
      display:none;
    }
    .name {
      display:none;
    }
    .dateSerial {
      // .serial {
      //   display:none;
      // }
    }
    .link {
      display:none;
    }
  }
}

.weekList .dateSerial {
  border: 1px solid #FFFFFF;
  padding: 4px;
  margin: 2px;
  height: 46px;
  text-align: center;
  .month {
    line-height: 8px;
    border-bottom: 1px solid #FFFFFF;
    padding: 0px 0px 2px;
    font-size: 0.7rem;
  }
  .day {
    line-height: 18px;
    border-bottom: 1px solid #FFFFFF;
    padding: 2px 0px;
    font-size: 1.2rem;
  }
  .serial {
    line-height: 10px;
    padding: 2px 0px 0px;
    font-size: 0.7rem;
  }
}
