<div style="height:100%; overflow-y:scroll; overflow-x:hidden">
  <div class="textArea black paTopHeader">
    <h2 class="taCenter">プライバシーポリシー</h2>
    <div class="pa10">
      <h3>tagtag運用に関する個人情報保護方針</h3>
      <p>運用開始：2015年07月01日</p>
      <p>tagtag（タグタグ）（以下「tagtag」）は、お客様のプライバシー・個人情報及び設定内容などを保護することはtagtagが事業活動を行う上での責務と考えています。<br>
      tagtagからのお申込、お問い合わせ、申込書によるお申込、 メール・電話によるお問い合わせを問わず、お客様から明示された特定の個人を識別できる情報（以下「個人情報」）について下記のとおり取り扱うものとします。<br>
      個人情報とは個人に関する情報であり、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）を指します。<br>
      DADA,inc.の運営する、「tagtag」(タグタグ)（URL: http://tagtag.tokyo、以下「本サービス」）は、個人情報を収集することがあります。</p>

      <h3>利用目的の範囲内での利用</h3>
      <p>tagtagが個人情報を収集する場合は、収集目的を明らかにし、必要な範囲内の個人情報を収集いたします。</p>

      <h3>安全管理に関する措置</h3>
      <p>tagtagは取得した個人情報について適切な管理に努めると共に個人情報の漏洩、改ざん、不正な侵入の防止に努めます。</p>

      <h3>第三者への提供</h3>
      <p>tagtagは取得した個人情報を次の各項の場合を除いて、原則として第三者に提供、開示などいたしません。<br>
      法律上照会権限を有する者から書面による正式な協力要請、照会があった場合<br>
      お客様の同意があった場合<br>
      ご意見・ご相談への対応<br>
      お客様が、ご自身の個人情報について照会、修正などを希望される場合には、tagtagが定める方法によりお客様であることが確認できた場合に限り対応させていただきます。</p>

      <h3>運営体制の継続的改善</h3>
      <p>DADA,inc.は、tagtagが保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>

      <h3>個人情報の取り扱いに関する問合せ先</h3>
      <p>個人情報に関するご確認、ご要望およびお問合せなどにつきましては、以下の連絡先までお願いいたします。<br>
      DADA,inc.　tagtag運用チーム<br>
      Mail:info@tagtag.tokyo</p>
    </div>
  </div>
</div>